<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/templates/css/Menu/discussion.css">
</head>
<body>
<div class="chat">
    <input type="text" id="messageInput" required placeholder="Entrez votre message ici">
    <input type="button" id="sendButton" value="Envoyer">

    <input type="file" id="inputImage">
    <div id="imageContainer"></div>
    <div id="chatBox">
        {{ range .Messages }}
        <div class="message" data-id="{{.ID}}">
            <p><strong>{{ .Username }}:</strong> {{ .Content }}</p>
            <div class="reaction-buttons">
                <form action="/likesEchec" method="post">
                    <input type="hidden" name="id" value="{{ .ID }}">
                    <button type="submit" class="like-button">Like</button>
                    <span class="likes-count">{{ .Likes }}</span>
                </form>
                <div id="username" data-username="{{ .Username }}"></div>
                <input type="hidden" name="id" value="{{ .ID }}" data-id="{{ .ID }}">
                <input type="hidden" name="id" value="{{ .ID }}">

                <form action="/dislikesEchec" method="post">
                    <input type="hidden" name="id" value="{{ .ID }}">
                    <button type="submit" class="dislike-button">Dislike</button>
                    <span class="dislikes-count">{{ .Dislikes }}</span>
                </form>
            </div>
        </div>
        {{ end }}
    </div>
</div>
<script src="/templates/js/Discussion/echec.js"></script>
<script>document.cookie = "username={{ .Username }}";</script>
</body>
</html>
