<!DOCTYPE html>
<html>
<head>
    <title>Envoi d'image</title>
</head>
<body>
<h1>Envoi d'image</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*">
    <input type="submit" value="Envoyer">
</form>

<h2>Images enregistrées</h2>
<div id="imageContainer">
    <!-- Ici seront affichées les images récupérées de la base de données -->
</div>

<script>
    // JavaScript pour récupérer les images de la base de données et les afficher
    fetch("/getImages")
        .then(response => response.json())
        .then(images => {
            const imageContainer = document.getElementById('imageContainer');
            images.forEach(image => {
                const img = document.createElement('img');
                img.src = `/displayImage?id=${image.ID}`;
                imageContainer.appendChild(img);
            });
        })
        .catch(error => {
            console.error('Erreur lors de la récupération des images :', error);
        });
</script>
</body>
</html>
